/* workaround for refresh issues in webkit-based browsers */
@-webkit-keyframes androidBugfix {from { padding: 0; } to { padding: 0; }}
body { -webkit-animation: androidBugfix infinite 1s; }
/* end workaround */

* {
    box-sizing: border-box;
    font: 15px arial, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#the-map {
    height: 100%;
    width: 100%;
}

.legend {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: #fff;
    opacity: 0;
    overflow: auto;
    pointer-events: inherit;
    z-index: 99;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.legend.show {
    opacity: 1;
    pointer-events: auto;
}

img.legend-icon {
    vertical-align: middle;
}

.guy {
    margin: 10px;
}

.buttons {
    margin: 5px;
}
