
.legend {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: #fff;
    overflow: auto;
    pointer-events: inherit;
    z-index: 99;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

img.legend-icon {
    vertical-align: middle;
}

.guy {
    margin: 10px;
}

.buttons {
    margin: 5px;
}
